@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$font: 'League Spartan', sans-serif;

:root {
  --mainPurple: #7c5dfa;
  --lightPurple: #9277ff;
  --veryDarkBlue: #1e2139;
  --darkGrayishBlue: #252945;
  --grayishBlue: #7e88c3;
  --lightGrayishBlue: #dfe3fa;
  --gray: #888eb0;
  --black: #0c0e16;
  --lightBlack: #141625;
  --white: #f8f8fb;
  --red: #ec5757;
  --lightGrey: #f9fafe;
  --editBtnBackground: var(--lightGrey);
  --lightRed: #ff9797;
  --dividerColor: #494e6e;
  --bodyBackground: var(--white);
  --textColor: var(--black);
  --sidebar-bg: var(--veryDarkBlue);
  --theme-switcher: url('/assets/icon-moon.svg');
  --background: white;
  --paid: #33d69f;
  --pending: #ff8f00;
  --draft: #373b53;
  --draftBackground: rgba(55, 59, 83, 0.06);
  --totalAmount: #373b53;
}

.p-checkbox .p-checkbox-box {
  background: #dfe3fa !important;
  border: 0 !important;

  &.p-highlight {
    background: var(--mainPurple) !important;
  }
}

.dark {
  --totalAmount: var(--black);
  --editBtnBackground: var(--darkGrayishBlue);
  --bodyBackground: var(--lightBlack);
  --background: var(--veryDarkBlue);
  --textColor: var(--white);
  --theme-switcher: url('/assets/icon-sun.svg');
  --draft: var(--white);
  --draftBackground: rgba(223, 227, 250, 0.06);

  .p-checkbox .p-checkbox-box {
    background: var(--lightBlack) !important;
    border: 0;

    &.p-highlight {
      background: var(--mainPurple) !important;
    }
  }
}
